%h2.text-center Регистрация

.form-group
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      %label Пол
      = f.select :gender, class:"form-control m-b-r"
    .field
      %label Имя
      = f.text_field :first_name, class:"form-control m-b-r"

      .field
        %label Фамилия
      = f.text_field :last_name, class:"form-control m-b-r"

    .field
      %label Email
      = f.email_field :email, autofocus: true, class:"form-control m-b-r"

    .field
      %label Пароль
      - if @minimum_password_length
        %em
          (= @minimum_password_length
          characters minimum)
      = f.password_field :password, autocomplete: "off", class:"form-control m-b-r"

    .actions
      = f.submit "Зарегистрироваться", class:"btn btn-success m-t-l"


  = render "devise/shared/links"